body {
  font-family: sans-serif;
  color: #fff;
  background: linear-gradient(to top, #09203f 0%, #537895 100%) no-repeat;
  height: 2000px;
  padding: 40px;
}
.search-form {
  text-align: center;
  margin-bottom: 0px;
  color: #fff;
  padding: 10px 0;
}
h1 {
  text-align: center;
  margin: 0px;
  color: #fff;
  padding: 10px 0;
}
h2 {
  text-align: center;
  margin: 0px;
  color: #fff;
}
.units {
  position: relative;
  top: -34px;
}

.row {
  margin-top: 20px;
}
.class.form-control {
  text-align: center;
  margin: 0px;
}
h5 {
  color: grey;
  text-align: center;
}
.temperature {
  color: #fff;
  font-size: 64px;
  font-weight: 200;
  line-height: 1;
}
li {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
